/* *{
   border: 2px solid red; 
} */

/* section{
    border: 2px solid red; 
 }
 nav{
    border: 2px solid yellowgreen; 
 }
 article{
    border: 2px solid yellowgreen; 
 }
 aside{
    border: 2px solid burlywood; 
 } */

